/* === TODO === */
/*
1. make tamagotchi look 3D
2. center tamagotchi vertically on page
3. style dialog prompts
4. animate body background or add a fun image
*/

:root {
  /* main color palette */
  --background: #734F5A;
  --tamagotchi: #2A9D8F;
  --screen: #264653;
  --action: #C05761;
  --secondary: #3A86FF;
  --nav-bar: hsl(197, 36%, 38%);
  --error: #941C2F;
  --warning: #FFBE0B;
  --success : #17a95b;
  --main-text-color: #F4F5D3;
  --secondary-text-color: #1f1b1b; 

  /* background colors */
}
body{ 
  background-color: var(--background);
}

.tamagotchi {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 600px;
  width: 500px;
  
  background-color: var(--tamagotchi);

  border: 2px solid black;
  border-top-right-radius: 65%;
  border-top-left-radius: 65%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#screen {
  height: 250px;
  width: 250px;

  background-color: var(--screen);

  border: 2px solid black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

nav {
  width: 250px;
  height: 40px;

  background-color: var(--nav-bar);
  color: var(--secondary-text-color);

  border-bottom: 2px solid hsla(0, 0%, 100%, .2);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

section {
  width: 250px;
  height: 210px;
}

footer {
  width: 250px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

button {
  cursor: pointer;

  height: 30px;
  width: 30px;

  background-color: var(--action);

  border-radius: 50%;
}

.buttons, .descriptions {
  width: 250px;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  padding-top: 60px;
  padding-bottom: 0px;

  
}

#enter {
  padding-left: 8px;
}